<div class="container">
<div class="navi">
<h1><img src ="https://bit.ly/2E1b76l" width="200px"></h1>
<!-- <form class="form-inline my-2 my-lg-0" (ngSubmit)='findProfile()' #searchForm="ngForm">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)] ="userName" name="username ">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
  <form action="" class="">
    <div class="form-group ">
        <input type="text" placeholder="Enter github's username...." class="form-control m-5" [(ngModel)]="username"
            name="username" (keyup)="findProfile()">
    </div>
</form>
</div>
<div class="row">
        <div class ="col-md-6">
  <div *ngIf="profile">
    <img class="img" src="{{profile.avatar_url}}" class="img-fluid" alt="profile">
        <br>
            <ul class="list-group">
                <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                <li class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
                <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
            </ul>
         
        </div>
        
            <hr>
            <p>
                <span class="label" class="btn btn-info"> {{profile.followers}} Followers</span>&nbsp;

                <span class="label" class="btn btn-info"> {{profile.following}} Following </span>&nbsp;

                <span class="label" class="btn btn-secondary"> {{profile.public_gists}} gists</span>&nbsp;

                <span class="label" class="btn btn-primary"> {{profile.public_repos}} Repositories</span>
            </p>
            <hr>
            <hr>
            <p>
                <a href="{{profile.html_url}}" target="_blank" class=" view  btn btn-outline-info">View profile on github</a>
            </p>
        </div>
            <div class="col-md-6">
            <h1>Repositories.</h1>
            <div class="row">
                    <div class=" col-sm-10card-columns">
                        <div *ngFor="let repos of repos">
                            <div class="card m-4">
                                <div class=" text-center">
                                    <h2>{{repos.name}}</h2>
                                </div>
                                <br>
                                <br>
                                <div class="card-body">
                                      <p>{{repos.description}}</p>
                                      <p>Created at: {{repos.created_at | date}}</p>
                                </div>
                                <a href="{{repos.html_url}}" class="text-align-center" target="_blank"
                                    class="view btn btn-outline-info">View this project on github</a>
                                
                            </div>
                        </div>
                    </div>
                
            </div>

        </div>
        </div>

    </div>
    